@charset "UTF-8";

body{
    position: relative;
    font-family:'Open Sans', sans-serif;
}
a:link, :visited, :active{
    color: #008090;
    text-decoration: none;
}

a:hover{
    color: rgb(57, 181, 197);
    text-decoration: none;
}

#wrapper {
    border: 1px dotted black;
    position: relative;
    margin: auto;
    max-width: 1280px;
    display: flex;
    align-items: stretch;
    
}
#page{
    flex-grow: 15;
}

/* HEADER */
#header{
    border: 1px dotted red;
    display: flex;
    align-items: center;
}

#leftHeader{
    flex: 50%;
    padding:5px
}

#rightHeader{
    flex: 50%; 
    text-transform: uppercase;
    font-size: 12px;
}

#wrpLogo{
    display: inline-block;
    width:120px;
}

#wrpLogo img {
    width: 100%;
} 

/* MAIN */
#main{
    border: 1px dotted blue;
}

/* FOOTER */
#footer{
    border: 1px dotted green;
    display: flex;
    flex-direction: row;
    background: #001d26;
    color: white;
    padding-bottom: 20px;

}
#itemFooter1{
    flex: 25%;
    padding-left:60px;
    padding-top: 20px; 

}

#wrapLogoWhite{
    display: inline-block;
    width:120px;

}

#wrapLogoWhite img{
    width: 100%;
}

#itemFooter2{
    flex: 25%;
    padding-left: 30px;
    display: flex;
    align-items: flex-end;
}

#itemFooter3{
    flex: 50%;
    padding-right: 60px;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}



/* NAVIGATIONS */
#lateralNav{
    writing-mode: vertical-rl;
    text-orientation: mixed; 
    border: 1px dotted palevioletred;
    flex-grow: 1;
    
}
 
#bottomNav {
    text-align: center;
    border:1px dotted palevioletred;
}

@media screen and (max-width: 960px) { /* voir pour passer à 812 px */
    #lateralNav{ display: none; }
    #bottomNav{ 
        position:fixed;
        bottom: 0;
        width: 100%;
       
    }
    #leftHeader, #rightHeader {
        flex: 100%;
        
    }
    #header{ 
        text-align: center;
    }
    #footer {
        flex-direction: column;
        }
    #itemFooter1, #itemFooter2, #itemFooter3{
        text-align: center;
        justify-content: center;
        padding: 10px;  
    }
}