@charset "UTF-8";

body{
    font-family:'Open Sans', sans-serif;
}
a:link, a:visited, a:active {
    color: #008090;
    text-decoration: none;
}
a:hover {
    color: rgb(57, 181, 197);
    text-decoration: none;
}

#wrapper {
    position: relative;
    margin: auto;
    /* max-width: 1280px; */
    display: flex;
    align-items: stretch;
}

#page{
    flex-grow:15;
}

/*//////////////////////////////////// HEADER */
#header{
    display: flex;
    align-items: center;
}

#leftHeader{
    flex: 50%;
    padding: 20px 20px 20px 60px ;
}

#rightHeader{
    flex: 50%; 
    text-transform: uppercase;
    font-size: 12px;
}

#wrpLogo{
    display: inline-block;
    width:120px;
}

#wrpLogo img {
    width: 100%;
} 

/*//////////////////////////////////// MAIN */
#main{
    border: 1px dotted blue;
}


/* Accueil */
.flex-item-left {
    border: 1px dotted purple;
    flex:40%;
}

.flex-item-right {
    border: 1px dotted green;
    flex:60%;
}

.articleHome {
    display: flex;
    flex-direction: row;
    font-size: 15 px;
}

.blocTxtHome{
    padding: 50px;
    color: #5b5c5e;
}

.blocTxtHome h2 {
    color:black;
}

.rate{
    color: #008090;
    font-size: 40px;
}

.offre{
    font-family: 'OpenSans SemiBold';
    color: #5b5c5e;
}

.duree{
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    color: #5b5c5e;
}

.button{
    background-color: #007f8f;
    font-size: 16px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.txtBold{
  font-family: 'OpenSans SemiBold';
  color: #001d26;
}

.wrpImgMonnaie img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 90% 100%;
}


/******* services *******/
#wrpServices{
    display: flex;
    justify-content: flex-end;
}
.services {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
    padding: 50px;
    }
        /*top*/
.topServices {
    width: 100%;
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    /* border: 1px dotted blue; */
  }

.topServices h2{ 
    color: white;
  }

.topServices p{
    color: #feffff;
    font-size: 14px;
    line-height: 177%;
    width: 50%;
}
.topServices strong{
    color: #feffff;
}
        /*left*/
.leftServices {  
    /* border: 1px dotted red; */
    width: 45%;
    padding:4px;
  }

.btnServices{
    display: block;
    font-size: 15px;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer;
    line-height: 3.15;
    background-color: #fff0;
    /* border-bottom: 1px solid white; */
    margin-bottom: 4px;
    width: 100%;
    opacity: 0.5;
    transition: 1s;
}

.btnServices:hover{
    opacity: 1;
    transform: translateX(20px);
}

  /*right*/
.rightServices {
    
    background-position: bottom;
    border: 1px dotted yellow;
    width: 55%;
    /* height: 470px; */
    background-image: url("../img/bgServicesImg2.png");
    background-size: cover;
    /* padding:4%; */
  }
  
  .imgServiceDiv{
    width: 100%;
    height: 15vh;
  }
  
  .imgService{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 15vh;
  }
  
  .rightServices p{
    font-size: 18px;
    padding-left: 8%;
    color: white;
  }
  
  .btnMore{
    display: block;
    font-size: 15px;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer;
    background-color: #fff0;   
}
  .btnMore::after{
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    transition:width 1s;
    margin-top: 6%;
  }
  
  .btnMore:hover::after{
    width: 35%;
  }

/*Fin style Services*/

#blackForm{
    position: absolute;
    right:0px;
    top:450px;
    z-index: -10;
    width:60%;
    display: flex;
    justify-content: flex-end;
}
#blackForm img{
    width: 100%;
    /* max-width: 800px; */
    
}




/* ABOUT */
#about{
    display: flex;
    flex-direction: column;
}
#topAbout{
    position: relative;
    margin-bottom: 25px;
}
#imageAbout{
    width: 100%; 
    height: 45vw;
}

#imageAbout img{
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 45vw;
}
    
#TitreSurImage{
    width: 100%;
    height: 45vw;
    background-color: rgba(17, 17, 17, 0.507);
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
}

#bottomAbout{
    display: flex;
    flex-direction: row;
}

#leftAbout{
    padding: 50px;
    color: #5b5c5e;
    flex:50%;
}
#leftAbout section {
    margin-bottom: 50px;
}

#leftAbout h2 {
    color:black;
}

#rightAbout{
    flex:50%; 
}



/* simulateur */
#containerSimulateur{
    display: flex;
    justify-content: center;
   
}
#simulateur{
    box-shadow: 4px 6px 9px black;
    width: 400px;
    height: 400px;
    padding:25px;
    background-color: white;
}
.btSim{
    background-color: #008090;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 0;
    padding: 15px 35px;
}
.ctnBtLeft{
    text-align: left;;
}

.wrpCarte1{
    height: 30px;
}
.wrpCarte1 img{
    
    height: 100%;
}
.wrpArrow {
    height: 30px;
}
.wrpArrow img {
    height: 100%;
}

#simCalculPret{
    display: none;
}

/*//////////////////////////////////// FOOTER */
#footer{
    display: flex;
    flex-direction: row;
    background: #001d26;
    color: white;
    padding-bottom: 20px;
}

#itemFooter1{
    flex: 25%;
    padding-left:60px;
    padding-top: 20px;
}

#wrapLogoBottom{
    display: inline-block;
    width:120px;
}

#wrapLogoBottom img{
    width: 100%;
}

#itemFooter2{
    flex: 25%;
    padding-left: 30px;
    display: flex;
    align-items: flex-end;
}

#itemFooter3{
    flex: 50%;
    padding-right: 60px;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* NAVIGATIONS */
#lateralNav{
    writing-mode: vertical-rl;
    text-orientation: mixed; 
    border: 1px dotted palevioletred;
    flex-grow: 1;
}
 
#bottomNav {
    text-align: center;
    border:1px dotted palevioletred;
    background-color: #1a353e;
    padding:15px;
}

#bottomNav a:link, #bottomNav a:visited, #bottomNav a:active {
    font-family: "ERASBD";
    color:white;
    text-decoration: none;
    padding-inline: 10px;
}

#bottomNav a:hover {
    color:#008090;
}

@media screen and (max-width: 960px) { /*       voir pour passer à 812 px */
    #lateralNav{ display: none; }

    #header{ 
        text-align: center;
    }

    #header{ 
        text-align: center;
        display: block;
    }

    #leftHeader, #rightHeader {
        flex: 100%;
        padding:0 !important;
    }
    
    .leftServices, .rightServices{
        width: 100%;
    }
    #bottomAbout {
      flex-direction: column-reverse;
    }
      
    #footer {
        flex-direction: column;
    }

    #itemFooter1, #itemFooter2, #itemFooter3{
        text-align: center;
        justify-content: center;
        padding: 10px;  
    }

    #bottomNav{ 
        position:fixed;
        bottom: 0;
        width: 100%
    }

    .articleHome {
      flex-direction: column;
    }
}